*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
body{
    font-family: montserrat, sans-serif;
}

/* start nabbar */
nav .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  20px  60px;
    position: absolute;
    z-index: 999;
    width: 100%;
}

ul{
    display: flex;
    gap: 7vw;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;

}
.ri-search-line{
    color: white;
    font-size: 20px;

}
.ri-menu-line{
    display: none;
}


/* end nabbar */

/* Start hero section */

#hero-section{
    display: flex;
    background-color:#2f2f2f ;
}

.img1{
    height: 100vh;
    width: 40%;

}
.img2{
    position: absolute;
    right:0;
    width: 70%;
    /* height: 113%; */
    height: 100vh;


}
.mediaImg1-parent{
    display: none;
}
.img3{
    position: absolute;
    right:0;
    /* height: fit-content; */
    width: 70%;
    height: 100%;
    padding: 4% 7%;
    height: 100vh;

}
.hero-section-content{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 9999;
    color: white;
    /* background-color: aliceblue; */
    padding-left: 48%;
}
.hero-section-content h1{
    font-family: "Grand Hotel";
    font-size: 6.5em;
    font-weight: 550;
    color: #ffc200;
}
.hero-section-content p{
    font-size: 1.5em;
    width: 80%;
}

.hero-section-content div button{
    margin-top: 30px;
    padding: 10px 45px;
    border: none;
    border-radius: 3px;
    background-color: #ffc200;
    font-weight: 550;
    color: #2f2f2f;
}




/* End hero section */

/* Start best seller section  */

.bestSeller-section{
    color: #2f2f2f;
}
.content h2{
    font-size: 4em;
    font-family: "Grand Hotel";
    font-weight: 550;
    padding-top: 7%;
}
.content p{
    padding-top: 2%;
    width: 50%;
    font-size: 20px;
}
.parent-card{
    display: flex;
    /* align-items: end; */
    justify-content: space-evenly;
    padding-top: 5%;
    flex-wrap: wrap;
}
.card{
    padding: 2%;
}
.card img{
    width: 250px;
}
.card-content{
    text-align: center;
    width: 250px;
}
/* end best seller section  */


/* Start Oriental taste Section */

.orientalTaste-Section{
    display: flex;
    padding: 5%     8%;
    height: fit-content;
}


.oriental-img img{
    width: 90%;
}

.oriental-content{
    width: 60%;
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
    padding-top: 7%;
    padding-left: 16%;

}

.oriental-content h2{
    font-size: 5.5em;
    font-family: "Grand Hotel";
    font-weight: 550;
    color: #ffc200;
}
.oriental-content p{
    font-size: 20px;
    color: white;
    padding-bottom: 4%;



}
.oriental-content button{
    height: 40px;
    font-family: 900;
    background-color: #ffc200;
    border: none;
    border-radius: 3px;
    margin-top: 4%;
    padding: 0px 35px;
    width: 200px;

}
.oriental-content button p{
    font-weight: 700;
    font-size: 1.2em;
    color: #2f2f2f;
    font-size: 15px;
    padding-top: 4%;
}

.page3-bg img{
    position: absolute;
    width: 100%;
    height: 78vh;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    z-index: -999999;
    background-image: url(asset/page3\bg.png);
    
}


/* End Oriental taste Section */


.Statistics-Section{
    width: 100%;
    height: 100vh;

}
.Statistics-Section img{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: cover;
    padding: 0% 2%;
    background-color: #2e2e2e;
    z-index: -1;
    padding: 1% 3%;
}

.Statistics{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}
.Statistics h2{
    font-size: 6em;
    color: #ffc200;
    font-family: "Grand Hotel";
    font-weight: 550;

}
.Statistics p{
    width: 50%;
    text-align: center;
    font-size: 19px;
    color: white;
}

 .circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
 }
.parent-circl{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
    flex-wrap: wrap;
}

 .circle h3{
    color: #ffc200;
    font-size: 2em;
    
 }

 .circle p{
    font-weight: 650;
    font-size: 1.5em;
 }

 /* Start ChickenGrill */

.ChickenGrill-Section{
    display: flex;
    width: 80%;
    /* background-color: #ffc200; */
    width: 100%;
    /* padding-top: 10%; */
}
.ChickenGrill-img{
    /* width: 70%; */
    padding: 7%;
}

.page4-bg img{
    transform: rotate(180deg);
    position: absolute;
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    z-index: -999999;
    background-image: url(asset/page3\bg.png);

}
.button{
    font-weight: 550;
    font-size: 1em;

}
.ChickenGrill-content{
    width: 100%;
    justify-content: center;
    padding: 0px 0px 12% 12%;
}

.ChickenGrill-content p{
    width: 90%;
}

















/* @media 800px */

@media screen and (max-width:800px){
    
    ul li{
        display: none;
    }
    .ri-menu-line{
        display: block;
        color: white;
        font-size: 20px;

    }
    img{
        width: 160px;
    }
    
    #hero-section{
        display: block;
    }
    .img1{
        display: none;
    }
    .mediaImg1-parent{
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        z-index: 999;
        top: 11;
        bottom: 70px;
    }
    .mediaImg1-parent img{
        width: 300px;
        filter: blur(1px);
    }
    .img3{
        position: relative;
        z-index: 1;
        width: 100%;
        padding: 25% 8%;
        
    }
    .img2{
        z-index: 1;
        position: absolute;
        width: 100vw;

    }

    .hero-section-content{
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10%;
        height: 100vh;
    }
    .hero-section-content h1{
        border: 1px solid #ffc200;
        backdrop-filter: blur(2px);
        font-size: 4em;
        padding:10px;
    }
    .hero-section-content p{
        padding-top: 7em;
        font-size: 100%;
        text-align: center;
    }
    .orientalTaste-Section{
        flex-wrap: wrap;
    }

    .oriental-img{
        display: flex;
        justify-content: center;
        padding-left: 8%;
    }
    .orientalTaste-Section{
        padding: 0px;
    }
    .page3-bg img{
        width: 100%;
        height: 100%;
    }
    .oriental-content{
        justify-content: start;
        display: flex;
        align-items: center;
        width: 90%;
    }
    .oriental-img{
        margin-top: 2%;
        width: 90%;
    }
    .oriental-img img{
        width: 300px !important;
    }
    .oriental-content h2{
        font-size: 4em;
        width: 100%;
        text-align: center;
    }
    .oriental-content p{
        font-size: 1em;
        text-align: center;
        
    }
    .circle{
        margin-top: 4%;
    }
    .Statistics-Section img{
        display: none;
    }
  .Statistics-Section{
    background-color: #2e2e2e;
    height: fit-content;
  }

  .ChickenGrill-Section{
    flex-wrap: wrap-reverse;
  }

  .ChickenGrill-img{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 13px;
  }
  .ChickenGrill-img img{
    width: 300px;
  }
  .page4-bg img{
    height: 90vh;
  }
}


