*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
body{
    font-family: montserrat, sans-serif;
}

/* start nabbar */
nav .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  20px  60px;
    position: absolute;
    z-index: 999;
    width: 100%;
}

ul{
    display: flex;
    gap: 7vw;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;

}
.ri-search-line{
    color: white;
    font-size: 20px;

}
.ri-menu-line{
    display: none;
}


/* end nabbar */

/* Start hero section */

#hero-section{
    display: flex;
    background-color:#2f2f2f ;
}

.img1{
    height: 100vh;
    width: 41%;

}
.img2{
    position: absolute;
    right:0;
    width: 70%;
    /* height: 113%; */
    height: 100vh;


}
.mediaImg1-parent{
    display: none;
}
.img3{
    position: absolute;
    right:0;
    /* height: fit-content; */
    width: 70%;
    height: 100%;
    padding: 4% 7%;
    height: 100vh;

}
.hero-section-content{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 9999;
    color: white;
    /* background-color: aliceblue; */
    padding-left: 48%;
}
.hero-section-content h1{
    font-family: "Grand Hotel";
    font-size: 6.5em;
    font-weight: 550;
    color: #ffc200;
}
.hero-section-content p{
    font-size: 1.5em;
    width: 80%;
}

.hero-section-content div button{
    margin-top: 30px;
    padding: 10px 45px;
    border: none;
    border-radius: 3px;
    background-color: #ffc200;
    font-weight: 550;
    color: #2f2f2f;
}


@media screen and (max-width:800px){
    
    ul li{
        display: none;
    }
    .ri-menu-line{
        display: block;
        color: white;
        font-size: 20px;

    }
    img{
        width: 160px;
    }
    
    #hero-section{
        display: block;
    }
    .img1{
        /* width: 40%; */
        display: none;
    }
    .mediaImg1-parent{
        /* display: block; */
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        z-index: 999;
        top: 11;
        bottom: 70px;
    }
    .mediaImg1-parent img{
        width: 300px;
        filter: blur(1px);

        /* border-radius:80%; */
    }
    .img3{
        position: relative;
        z-index: 1;
        width: 100vw;
        height: 100vh;
        padding-top: 20%;
        
    }
    .img2{
        z-index: 1;
        position: absolute;
        width: 100vw;

    }

    .hero-section-content{
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10%;
        height: 100vh;
        padding-top: 10em;
    }
    .hero-section-content h1{
        border: 1px solid #ffc200;
        backdrop-filter: blur(2px);
        font-size: 4em;
        padding:10px;
    }
    .hero-section-content p{
        padding-top: 7em;

        font-size: 100%;
        text-align: center;
    }
}

/* End hero section */


